- content_for :meta_title do
  - if !params[:tag].blank?
    == #{@cms_config['site_settings']['links_title']} by tag: #{h params[:tag]}
  - else
    =@cms_config['site_settings']['links_title']

= render :partial => "shared/slice", :locals => {:column_section_id => nil, :controller => "link_categories", :action => "index"}, :collection => @main_column_sections

- if !@cms_config['site_settings']['enable_responsive_layouts']
  = render :partial => "links/sidebar"

